body {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 33%;
  margin: auto;
  text-align: center;
}
.auth-form {
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.auth-logo {
  border: 1px solid green;
  width: 5rem;
  height: 5rem;
  margin: auto;
}
input {
  border-radius: 0.5rem;
  font-size: 0.8rem;
  border: none;
  background-color: rgb(215, 221, 219);
  padding: 0.6rem;
  margin: 0.5rem;
}
button {
  width: 30%;
  margin: 0.5rem auto;
  padding: 0.6rem;
  font-size: 1rem;
  background-color: #006cb5;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
}
